# DB_HOST=
# DB_NAME=
# DB_PASS=
# DB_PORT=
# DB_USER=
# EMAIL_HOST=
# EMAIL_PASS=
# EMAIL_PORT=
# EMAIL_SECURE=
# EMAIL_USER=
# PORT=
# SMS_API_KEY=
# SMS_BASE_URL=
# SMS_SENDER_ID=
# SESSION_SECRET=
# NODE_ENV=production